# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build samples
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-flutter:
    name: Run Flutter tests
    timeout-minutes: 45
    runs-on:
      labels: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout code
      - uses: actions/setup-java@v5
        name: Setup java
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        name: Setup flutter
        with:
          flutter-version: "3.x"
          channel: "stable"
          cache: true
      - uses: bluefireteam/melos-action@8cca19067d5bc4021b5a9f4656955d8b386583bf
        with:
          melos-version: "6.0.0"
      - name: "Run flutter test"
        run: melos run test

  build-android:
    name: Build Android
    needs: [test-flutter]
    if: contains(github.base_ref, 'main')
    timeout-minutes: 45
    runs-on:
      labels: ubuntu-latest
    env:
      MAPS_API_KEY: ${{ secrets.ACTIONS_API_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"
      - name: Setup flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          flutter-version: "3.x"
          channel: "stable"
          cache: true
      - name: Setup melos
        uses: bluefireteam/melos-action@8cca19067d5bc4021b5a9f4656955d8b386583bf
        with:
          melos-version: "6.0.0"
      - name: "Run build for Android"
        run: melos run flutter-build-android

  build-ios:
    name: Build iOS
    needs: [test-flutter]
    if: contains(github.base_ref, 'main')
    timeout-minutes: 90
    runs-on:
      labels: macos-latest-xlarge
    env:
      MAPS_API_KEY: ${{ secrets.ACTIONS_API_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          flutter-version: "3.x"
          channel: "stable"
          cache: true
          architecture: x64
      - name: Setup melos
        uses: bluefireteam/melos-action@8cca19067d5bc4021b5a9f4656955d8b386583bf
        with:
          melos-version: "6.0.0"
      - name: Cache podfiles
        uses: actions/cache@v5
        with:
          path: "**/Pods"
          key: ${{ runner.os }}-pods-${{ hashFiles('**/*.podspec') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: Select XCode 26.1.1
        run: sudo xcode-select -s '/Applications/Xcode_26.1.1.app/Contents/Developer'
      - name: "Run build for iOS"
        run: melos run flutter-build-ios
